language: english
format: kindle
sidebar: docapis

destination: _site
port: 5000
highlighter: rouge
exclude:
  - mobi
  - pdf
  - images/ads/

markdown: kramdown
kramdown:
 input: GFM
 auto_ids: true
 hard_wrap: false
 syntax_highlighter: rouge

collections:
  docs:
    output: true

sass:
    style: compressed

defaults:
  -
    scope:
      path: ""
      type: pages
    values:
      layout: kindle
      topnav: topnav
  -
    scope:
      path: ""
      type: docs
    values:
      layout: kindle
      topnav: topnav
  -
    scope:
      path: images
    values:
      image: true
  -
    scope:
      path: images/ads/
    values:
      image: false
      published: false


########## UI text ###############


uistring:
    tableofcontents: Table of Contents
    log_doc_issue: Log Doc Issue
    breadcrumb:
      home: Home
      documentation: Documentation
    expandall: Expand All
    collapseall: Collapse All
    title: Learn API Doc # Displays as site title on top nav bar and on site metadata
    description: A guide for technical writers learning how to document APIs  # Displays as site description meta
    github_edit_button_text: Edit on GitHub
    products: Products
    docindex_product: Product
    docindex_startpage: Starting page
