<style>
  .inpostComics img {
    max-width: 250px;
  }

  .inpostComics {
      padding: 25px;
      margin-bottom: 10px;
      border-radius: 7px;
      max-width: 900px;
  }

  .inpostComics .comicLink a {
    font-size: 14px;
    font-family: Arial;
  }
  .textLink {
    font-size: 13px;
    font-family: arial;
    margin-bottom: 18px;
}
  .comicLink {
    max-width: 260px;
  }

  .inpostComics .comicLink {
      margin-bottom: 20px;
  }
  /* this part adds an icon after external links, using FontAwesome */

.inpostComics a[href^="http://"]:after,
.inpostComics a[href^="https://"]:after,
.sidebarComics a[href^="http://"]:after,
.sidebarComics a[href^="https://"]:after
 {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: 3px;
}

.inpostComics a[href].noCrossRef::after,
.sidebarComics a[href].noCrossRef::after
 {
    content: ""!important;
    padding-left: 0;
}
</style>
<div class="container overflow-hidden">
<div class="row inpostComics gy-4">
<h3>Sponsored content</h3>
    <script>
        var contents=new Array()
        //MadCap
        //contents[0]='<div class="border col-md-4"><a class="noCrossRef" ref="nofollow" href="https://idbwrtng.com/madcapinline_apr24_2022"><img style="border: 1px solid lightgray" src="https://s3.us-west-1.wasabisys.com/idbwmedia.com/images/Flare2021r3side.png" alt="MadCap Flare" /></a> <div class="comicLink"> <a href="https://idbwrtng.com/madcapinline_apr24_2022">Explore new branching support for your MadCap Central git repository</a></div></div>'

        //Paligo
        contents[0]='<div class="border col-md-4"><a class="noCrossRef" ref="nofollow" href="https://idbwrtng.com/paligoinline_apr24_2022"><img style="border: 1px solid darkgray" src="https://s3.us-west-1.wasabisys.com/idbwmedia.com/images/paligo_april.png" alt="Paligo" /></a><div class="comicLink"> <a href="https://idbwrtng.com/paligoinline_apr2_2023">Find out why Paligo is the choice for some of the world\'s leading brands.</a></div></div>'

        //DevDocs
        contents[1]='<div class="border col-md-4"><a class="noCrossRef" ref="nofollow" href="https://idbwrtng.com/devdocs"><img style="border: 1px solid darkgray" src="https://s3.us-west-1.wasabisys.com/idbwmedia.com/images/devdocs_square.jpg" alt="DevDocs: Your tech writing project partner" /></a><div class="comicLink"> <a href="https://idbwrtng.com/devdocs">DevDocs is your tech writing project partner for all your doc needs</a></div></div>'

        //Acrolinx
        contents[2]='<div class="border col-md-4"><a class="noCrossRef" ref="nofollow" href="https://idbwrtng.com/acrolinx_inline"><img style="border: 1px solid lightgray" src="https://s3.us-west-1.wasabisys.com/idbwmedia.com/images/acrolinx_square.png" alt="Acrolinx" /></a> <div class="comicLink"><a href="https://idbwrtng.com/acrolinx_inline">Acrolinx for technical communication: Communication at a new level</a></div></div>'

        //Archbee
        contents[3]='<div class="border col-md-4"><a class="noCrossRef" ref="nofollow" href="https://idbwrtng.com/archbeeinline_apr24_2022"><img style="border: 1px solid lightgray" src="https://s3.us-west-1.wasabisys.com/idbwmedia.com/images/archbeesquare.jpeg" alt="Archbee: The Knowledge Base, rebuilt for software companies" /></a> <div class="comicLink"> <a href="https://idbwrtng.com/archbeeinline_apr24_2022">Archbee makes it easy to build, launch, and manage your developer portal</a></div></div>'

        //Xeditor
        contents[4]='<div class="border col-md-4"><a class="noCrossRef" ref="nofollow" href="https://idbwrtng.com/xpublisherinline_apr24_2022"><img style="border: 1px solid lightgray" src="https://s3.us-west-1.wasabisys.com/idbwmedia.com/images/xeditor2022.png" alt="Explore Xeditor, a web-based & highly customizable XML editor for any CMS" /></a> <div class="comicLink"> <a href="https://idbwrtng.com/xpublisherinline_apr24_2022">Explore Xeditor, a web-based & highly customizable XML editor for any CMS</a></div></div>'

        //Blobr
        contents[5]='<div class="border col-md-4"><a class="noCrossRef" ref="nofollow" href="https://idbwrtng.com/blobrinline_apr24_2022"><img style="border: 1px solid lightgray" src="https://s3.us-west-1.wasabisys.com/idbwmedia.com/images/blobr_red.png" alt="Blobr: The portal to document, distribute and monetize your APIs as products." /></a> <div class="comicLink"> <a href="https://idbwrtng.com/blobrinline_apr24_2022">The portal to document, distribute and monetize your APIs as products.</a></div></div>'

        //Your ad here
        //contents[5]='<div class="border col-md-4"><a class="noCrossRef" ref="nofollow" href="https://idbwrtng.com/youradhereinline"><img style="border: 1px solid darkgray" src="https://s3.us-west-1.wasabisys.com/idbwmedia.com/images/youradhere2.png" alt="Advertising options for tech comm products" /></a><div class="comicLink"> <a href="https://idbwrtng.com/youradhereinline">Make your tech comm products visible to tech writers worldwide</a></div></div>'

        var i=0
        //variable used to contain controlled random number
        var random
        //while all of array elements haven't been cycled thru
        while (i<contents.length){
            //generate random num between 0 and arraylength-1
            random=Math.floor(Math.random()*contents.length)
            //if element hasn't been marked as "selected"
            if (contents[random]!="selected"){
                document.write(contents[random])
                //mark element as selected
                contents[random]="selected"
                i++
            }

        }
    </script>

</div>
</div>
<div style="clear:both;"></div>

{% include mailjet_embedded.html %}