<div class="audioControls">
<p><b>Listen here:</b></p>
<p><audio controls src="{{page.podcast_link}}" type="audio/mpeg"></audio></p>

<p>You can <a href="{{page.podcast_link}}" alt="{{page.title}}">download the MP3 file</a>, <a href="https://itunes.apple.com/us/podcast/id-rather-be-writing-podcast/id277365275">subscribe in iTunes</a>, <a href="https://podcasts.google.com/feed/aHR0cDovL2ZlZWRzLmZlZWRidXJuZXIuY29tL3R3dnBvZGNhc3Q">Google Podcasts</a>, or <a href="https://idratherbewriting.com/category-podcasts/">other podcast platforms</a>.</p>
</div>
