
<ol class="breadcrumb">
  <li><a href="http://idratherbewriting.com">I'd Rather Be Writing</a></li>
  <li><a href="http://idratherbewriting.com/learnapidoc"{% if page.url == "/index.html" %}class="active"{% endif %}>Learn API Doc</a></li>
  {% if page.path1 %}
  <li>
    {% for pg in site.docs %}
    {% if pg.permalink == page.path1 %}
    <a href="{{pg.url | remove: "/"}}" {% if page.url == pg.path1 %}class="active"{% endif %}>{{pg.title}}</a>
     {% endif %}
     {% endfor %}
  </li>
  {% endif %}

  {% if page.path2 %}
  <li>
    {% for pg in site.docs %}
    {% if pg.permalink == page.path2 %}
    <a href="{{pg.url | remove: "/"}}" {% if page.url == pg.path1 %}class="active"{% endif %}>{{pg.title}}</a>
     {% endif %}
     {% endfor %}
  </li>
  {% endif %}

  {% if page.path3 %}
  <li>
    {% for pg in site.docs %}
    {% if pg.permalink == page.path3 %}
    <a href="{{pg.url | remove: "/"}}" {% if page.url == pg.path1 %}class="active"{% endif %}>{{pg.title}}</a>
     {% endif %}
     {% endfor %}
  </li>
  {% endif %}

</ol>
