
<ol class="breadcrumb">
  <li><a class="noExtIcon" href="https://idratherbewriting.com">I'd Rather Be Writing</a></li>
    <li><a class="noExtIcon" href="https://idratherbewriting.com/learnapidoc">Learn API Doc</a></li>
  {% if page.path1 %}
  <li>
    {% for pg in site.docs %}
    {% if pg.permalink == page.path1 %}
    {% if page.url == pg.path1 %}{{pg.title}}{% else %}
    <a href="{{pg.url | remove: "/"}}">{{pg.title}}</a>
    {% endif %}
     {% endif %}
     {% endfor %}
  </li>
  {% endif %}

  {% if page.path2 %}
  <li>
    {% for pg in site.docs %}
    {% if pg.permalink == page.path2 %}
    {% if page.url == pg.path2 %}{{pg.title}}{% else %}
    <a href="{{pg.url | remove: "/"}}">{{pg.title}}</a>
    {% endif %}
     {% endif %}
     {% endfor %}
  </li>
  {% endif %}

  {% if page.path3 %}
  <li>
    {% for pg in site.docs %}
    {% if pg.permalink == page.path3 %}
    {% if page.url == pg.path3 %}{{pg.title}}{% else %}
    <a href="{{pg.url | remove: "/"}}">{{pg.title}}</a>
    {% endif %}
     {% endif %}
     {% endfor %}
  </li>
  {% endif %}

</ol>
