{% if site.format == "web" %}
<div markdown="span" class="bs-callout bs-callout-warning"><span class="calloutTitle">Contribute $10?</span><br/><br/>
<p>If you would like to contribute $10 to say thank you for the API documentation course, and also encourage more available content in the future, click the <b>Donate</b> button below.</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="Y256XJSZB7LMN">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>{% endif %}
