<div class="footertop">
    <div class="container">
        <div class="col-md-6">
            <p></p>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 footerleft ">
                <div class="logofooter"> About learnapidoc.com</div>
                <p>This site provides tutorials for documenting REST APIs. This content is provided on the web and soon via ebooks and PDF. </p>

            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">Links</h6>
                <ul class="footer-ul">
                    <li><a class="noCrossRef" href="http://idratherbewriting.com"> Blog</a></li>
                    <li><a class="noCrossRef" href="contact.html">Contact</a></li>
                    <li class="noCrossRef"><a href="https://github.com/tomjohnson1492/learnapidoc/"> Github</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">Social media</h6>
                <ul class="footer-ul">
                    <li class="noCrossRef"><a href="https://writethedocs.slack.com/team/tomjohnson"> WTD Slack</a></li>
                    <li class="noCrossRef"><a href="http://twitter.com/tomjohnson"> Twitter</a></li>
                    <li class="noCrossRef"><a href="https://www.linkedin.com/in/tomjohnson1492/"> Linkedin</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">Another column</h6>
                <ul class="footer-ul">
                    <li class="noCrossRef"><a href="#"> Some link</a></li>
                    <li class="noCrossRef"><a href="#"> Some link</a></li>
                    <li class="noCrossRef"><a href="#"> Some link</a></li>
                    <li class="noCrossRef"><a href="#"> Some link</a></li>
                    <li class="noCrossRef"><a href="#"> Some link</a></li>
                    <li class="noCrossRef"><a href="#"> Some link</a></li>

                </ul>
            </div>
        </div>
    </div>
    </div>
</footer>
<!--subfooter start from here -->

<div class="copyright">
    <div class="container">
        <div class="col-md-12">
            <p>© 2017, Tom Johnson</p>
        </div>
    </div>
</div>
