<div class="footertop">
    <div class="container">
        <div class="col-md-6">
            <p></p>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 footerleft ">
                <div class="logofooter"> About Learn API Doc</div>
                <p>This site provides tutorials for documenting REST APIs. This content is intended for technical writers working on REST API documentation projects. </p>

            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">Links</h6>
                <ul class="footer-ul">
                  <li><a class="noCrossRef" href="https://idratherbewriting.com"> Blog</a></li>
                  <li><a class="noCrossRef" href="https://idratherbewriting.com/learnapidoc/contact.html">Contact</a></li>
                  <li><a class="noCrossRef" href="https://idratherbewriting.com/presentations/">Presentations</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">Social media</h6>
                <ul class="footer-ul">
                    <li><a class="noCrossRef" href="https://writethedocs.slack.com/team/tomjohnson"> WTD Slack</a></li>
                    <li><a class="noCrossRef" href="http://twitter.com/tomjohnson"> Twitter</a></li>
                    <li><a class="noCrossRef" href="https://www.linkedin.com/in/tomjoht/"> Linkedin</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">Contribute back</h6>
                <ul class="footer-ul">
                  <li><a class="noCrossRef" href="https://github.com/tomjoht/learnapidoc/">Suggest edits in GitHub repo</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</footer>
<!--subfooter start from here -->

<div class="copyright">
    <div class="container">
        <div class="col-md-12">
            <p>© 2019, Tom Johnson</p>
        </div>
    </div>
</div>
