{% if site.format == "web" %}<div class="videoComicBlock">
    <script>
var contentsv=new Array()

contentsv[0]='<div class="videoComic"><a href="https://idbwrtng.com/redocly0" rel="nofollow" class="noExtIcon"><img src="{{site.media}}/redocly1.jpg" alt="Redoc.ly: Transform your API definition into interactive documentation, fast" /></a></div></div>'
contentsv[1]='<div class="videoComic"><a href="https://idbwrtng.com/redocly1" rel="nofollow" class="noExtIcon"><img src="{{site.media}}/redocly2.jpg" alt="Redoc.ly: Transform your API definition into interactive documentation, fast" /></a></div></div>'
contentsv[2]='<div class="videoComic"><a href="https://idbwrtng.com/redocly2" rel="nofollow" class="noExtIcon"><img src="{{site.media}}/redocly3.jpg" alt="Redoc.ly: Transform your API definition into interactive documentation, fast" /></a></div></div>'
contentsv[3]='<div class="videoComic"><a href="https://idbwrtng.com/redocly3" rel="nofollow" class="noExtIcon"><img src="{{site.media}}/redocly4.jpg" alt="Redoc.ly: Transform your API definition into interactive documentation, fast" /></a></div></div>'
contentsv[4]='<div class="videoComic"><a href="https://idbwrtng.com/redocly4" rel="nofollow" class="noExtIcon"><img src="{{site.media}}/redocly5.jpg" alt="Redoc.ly: Transform your API definition into interactive documentation, fast" /></a></div></div>'
contentsv[5]='<div class="videoComic"><a href="https://idbwrtng.com/redocly5" rel="nofollow" class="noExtIcon"><img src="{{site.media}}/redocly6.jpg" alt="Redoc.ly: Transform your API definition into interactive documentation, fast" /></a></div></div>'
contentsv[6]='<div class="videoComic"><a href="https://idbwrtng.com/redocly6" rel="nofollow" class="noExtIcon"><img src="{{site.media}}/redocly7.jpg" alt="Redoc.ly: Transform your API definition into interactive documentation, fast" /></a></div></div>'
contentsv[7]='<div class="videoComic"><a href="https://idbwrtng.com/redocly7" rel="nofollow" class="noExtIcon"><img src="{{site.media}}/redocly8.jpg" alt="Redoc.ly: Transform your API definition into interactive documentation, fast" /></a></div></div>'
contentsv[8]='<div class="videoComic"><a href="https://idbwrtng.com/redocly8" rel="nofollow" class="noExtIcon"><img src="{{site.media}}/redocly9.jpg" alt="Redoc.ly: Transform your API definition into interactive documentation, fast" /></a></div></div>'
contentsv[9]='<div class="videoComic"><a href="https://idbwrtng.com/redocly9" rel="nofollow" class="noExtIcon"><img src="{{site.media}}/redocly10.jpg" alt="Redoc.ly: Transform your API definition into interactive documentation, fast" /></a></div></div>'
contentsv[10]='<div class="videoComic"><a href="https://idbwrtng.com/redocly10" rel="nofollow" class="noExtIcon"><img src="{{site.media}}/redocly11.jpg" alt="Redoc.ly: Transform your API definition into interactive documentation, fast" /></a></div></div>'
contentsv[11]='<div class="videoComic"><a href="https://idbwrtng.com/redocly11" rel="nofollow" class="noExtIcon"><img src="{{site.media}}/redocly12.jpg" alt="Redoc.ly: Transform your API definition into interactive documentation, fast" /></a></div></div>'

var i=0
//variable used to contain controlled random number
var random
//while all of array elements haven't been cycled thru
while (i<contentsv.length){
//generate random num between 0 and arraylength-1
random=Math.floor(Math.random()*contentsv.length)
//if element hasn't been marked as "selected"
if (contentsv[random]!="selected"){
document.write(contentsv[random])
//mark element as selected
contentsv[random]="selected"
break;
}
}
</script>
</div>{% endif %}
