<style>
#mc_embed_signup.irbw {
    background: lightsteelblue;
    clear: left;
    font: 14px Helvetica,Arial,sans-serif;
    border-radius: 5px;
    text-align: center;
    margin:10px;
    padding:10px;
}
#socialMediaButtons.irbw {
margin-bottom:15px;
}

#mc_embed_signup.irbw input.email {
  min-width: 200px;
}

.sidebarAds {
  padding-top: 20px;
}

</style>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup" class="irbw">
<form action="https://idratherbewriting.us19.list-manage.com/subscribe/post?u=63d9e1c9e57c6dea77b5184b5&amp;id=82ef7d19a4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to my mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_63d9e1c9e57c6dea77b5184b5_82ef7d19a4" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
{% comment %}
<!-- popup modal-->
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"63d9e1c9e57c6dea77b5184b5","lid":"82ef7d19a4"}) })</script>
{% endcomment %}

<!--End mc_embed_signup-->
