{% assign sidebar = site.data[site.sidebar] %}

{% comment %}check for items at first level {% endcomment %}

<div id="navig">
  {% if site.format == "kindle" %}<b>Sections in this chapter:</b>{% endif %}
<ul id="docnavsidebar" class="docnav">

{% for folder in sidebar.folders %}
  {% if folder.jurl contains page.permalink %}
    {% for folderitem in folder.folderitems %}
      {% unless folderitem.type == "web" %}
        <li><a href="{{folderitem.jurl | remove: "/" }}">{{folderitem.title}}</a></li>
      {% endunless %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% comment %}check for items at second level {% endcomment %}
{% for folder in sidebar.folders %}
  {% for folderitem in folder.folderitems %}
    {% for subfolder in folderitem.subfolders %}
      {% if subfolder.jurl contains page.permalink %}
        {% for subfolderitem in subfolder.subfolderitems %}
          {% unless subfolderitem.type == "web" %}
            <li><a href="{{subfolderitem.jurl | remove: "/" }}">{{subfolderitem.title}}</a></li>
          {% endunless %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}

{% comment %}check for items at third level {% endcomment %}
{% for folder in sidebar.folders %}
  {% for folderitem in folder.folderitems %}
    {% for subfolder in folderitem.subfolders %}
      {% for subfolderitem in subfolder.subfolderitems %}
        {% for subsubfolder in subfolderitem.subsubfolders %}
          {% if subsubfolder.jurl contains page.permalink %}
            {% for subsubfolderitem in subsubfolder.subsubfolderitems %}
              {% unless subsubfolderitem.type == "web" %}
                <li><a href="{{subsubfolderitem.jurl | remove: "/" }}">{{subsubfolderitem.title}}</a></li>
              {% endunless %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endfor %}

</ul>
</div>
