{% if site.format == "web" %}
{% assign sidebar = site.data[page.sidebar] %}
{% elsif site.format == "pdf" or site.format == "kindle" %}
{% assign sidebar = site.data[site.sidebar] %}
{% endif %}

{% comment %}check for items at first level {% endcomment %}

{% if site.format == "pdf" or site.format == "kindle" %}
<div id="navig">
  <b>Sections in this chapter:</b>
<ul id="docnavsidebar" class="docnav">
{% else %}
<ul id="navig markdown-toc" class="onPageSectiontoc">
  {% endif %}
{% for folder in sidebar.folders %}
  {% if folder.jurl contains page.permalink %}
    {% for folderitem in folder.folderitems %}
      <li><a href="{{folderitem.jurl | remove: "/" }}">{{folderitem.title}}</a></li>
    {% endfor %}
  {% endif %}
{% endfor %}

{% comment %}check for items at second level {% endcomment %}
{% for folder in sidebar.folders %}
  {% for folderitem in folder.folderitems %}
    {% for subfolder in folderitem.subfolders %}
      {% if subfolder.jurl contains page.permalink %}
        {% for subfolderitem in subfolder.subfolderitems %}
          <li><a href="{{subfolderitem.jurl | remove: "/" }}">{{subfolderitem.title}}</a></li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endfor %}

{% comment %}check for items at third level {% endcomment %}
{% for folder in sidebar.folders %}
  {% for folderitem in folder.folderitems %}
    {% for subfolder in folderitem.subfolders %}
      {% for subfolderitem in subfolder.subfolderitems %}
        {% for subsubfolder in subfolderitem.subsubfolders %}
          {% if subsubfolder.jurl contains page.permalink %}
            {% for subsubfolderitem in subsubfolder.subsubfolderitems %}
              <li><a href="{{subsubfolderitem.jurl | remove: "/" }}">{{subsubfolderitem.title}}</a></li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endfor %}

</ul>
{% if site.format == "pdf" %}
</div>
{% endif %}
