{% comment %}
{% if site.format == "web" %}
<div class="singlePostComics">
    <script>
var contents=new Array()

contents[0]='<div class="randomAd"><div class="bs-callout bs-callout-info bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Over 40,000 API developers use SwaggerHub to design and document APIs with Swagger (OpenAPI). Learn how SwaggerHub can help improve your team’s API documentation workflow. <a href="https://swagger.io/tools/swaggerhub/?utm_medium=display&utm_source=idratherbewriting&utm_campaign=irbwsponsor" rel="nofollow">Get started for free</a>.</div></div>'
contents[1]='<div class="randomAd"><div class="bs-callout bs-callout-success bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>SwaggerHub was built by the team behind Swagger to help organizations collaborate on their API design and documentation from one centralized platform. Find out why SwaggerHub is the platform for design and documenting APIs with Swagger. <a href="https://swagger.io/tools/swaggerhub/?utm_medium=display&utm_source=idratherbewriting&utm_campaign=irbwsponsor" rel="nofollow">Get started for free</a>.</div></div>'
contents[2]='<div class="randomAd"><div class="bs-callout bs-callout-warning bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>SwaggerHub brings together all the power of the open source Swagger tooling into one integrated platform for designing and documenting APIs with Swagger (OpenAPI). <a href="https://swagger.io/tools/swaggerhub/?utm_medium=display&utm_source=idratherbewriting&utm_campaign=irbwsponsor" rel="nofollow">Get started for free</a>.</div></div>'
contents[3]='<div class="randomAd"><div class="bs-callout bs-callout-important bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>SwaggerHub is an integrated API design and documentation platform, built for teams to drive consistency and discipline across the API development workflow. <a href="https://swagger.io/tools/swaggerhub/?utm_medium=display&utm_source=idratherbewriting&utm_campaign=irbwsponsor" rel="nofollow">Get started for free</a>.</div></div>'
contents[4]='<div class="randomAd"><div class="bs-callout bs-callout-danger bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Documenting APIs with Swagger? SwaggerHub lets you generate API documentation that’s securely hosted and fully interactive. Import an existing Swagger definition, or start a new API project from right within your browser, no setup required. <a href="https://swagger.io/tools/swaggerhub/?utm_medium=display&utm_source=idratherbewriting&utm_campaign=irbwsponsor" rel="nofollow">Get started for free</a>.</div></div>'

var i=0
//variable used to contain controlled random number
var random
//while all of array elements haven't been cycled thru
while (i<contents.length){
//generate random num between 0 and arraylength-1
random=Math.floor(Math.random()*contents.length)
//if element hasn't been marked as "selected"
if (contents[random]!="selected"){
document.write(contents[random])
//mark element as selected
contents[random]="selected"
break;
}
}
</script>
</div>{% endif %}
{% endcomment %}
