{% if site.format == "web" %}<div class="singlePostComics">
    <script>
var contents=new Array()

contents[0]='<div class="randomAd"><div class="bs-callout bs-callout-info bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Acrolinx helps you save time while scaling up. Expand your scope and empower existing resources. <a href="https://idbwrtng.com/acrolinx_snippet1" rel="nofollow">Learn more now!</a></div></div>'
contents[1]='<div class="randomAd"><div class="bs-callout bs-callout-success bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Use Acrolinx to access your messaging, style, and guidelines seamlessly, and as part of your content creation process. Collaborate with more stakeholders and empower them to be more effective writers. <a href="https://idbwrtng.com/acrolinx_snippet2" rel="nofollow">Chat with us!</a></div></div>'
contents[2]='<div class="randomAd"><div class="bs-callout bs-callout-warning bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>With Acrolinx, writers receive quick and objective feedback. Focus on generating meaningful content instead of correcting language issues, resulting in better content quality and a faster go-to-market process. <a href="https://idbwrtng.com/acrolinx_snippet3" rel="nofollow">Learn more now!</a></div></div>'
contents[3]='<div class="randomAd"><div class="bs-callout bs-callout-warning bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>With Acrolinx, you can set your own content guidelines to guide writers and editors with relevant and timely feedback. Enable your team to produce better content, faster. <a href="https://idbwrtng.com/acrolinx_snippet4" rel="nofollow">Find out how!</a></div></div>'
contents[4]='<div class="randomAd"><div class="bs-callout bs-callout-danger bs-callout-ad">Acrolinx gives you content governance, at scale. Ensure your writers and editors follow guidelines, monitor, and assess the quality of content post-production. <a href="https://idbwrtng.com/acrolinx_snippet5" rel="nofollow">Let\'s talk!</a></div></div>'
contents[5]='<div class="randomAd"><div class="bs-callout bs-callout-info bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Acrolinx helps technical writers ensure consistent style and terminology throughout their extensive manuals. Find out how Siemens uses Acrolinx to clear customer-oriented manuals more efficiently. <a href="https://idbwrtng.com/acrolinx_snippet6" rel="nofollow">Read more</a></div></div>'
contents[6]='<div class="randomAd"><div class="bs-callout bs-callout-success bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Step up your technical content by governing terminology, clarty, style, and brand guidelines across thousands of writers. Acrolinx will help you create better technical content, faster. <a href="https://idbwrtng.com/acrolinx_snippet7" rel="nofollow">Learn more now!</a></div></div>'
contents[7]='<div class="randomAd"><div class="bs-callout bs-callout-warning bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Reduce technical content errors and improve compliance while letting your writers focus on creating content. Reduce edit rounds and time wasted on mechanical content fixes. Get technical content right the first time with Acrolinx. <a href="https://idbwrtng.com/acrolinx_snippet8" rel="nofollow">Learn more now!</a></div></div>'
contents[8]='<div class="randomAd"><div class="bs-callout bs-callout-important bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Review 100% of written technical content for errors before it gets published. Acrolinx reviews all written content, provides content impact insight, and guides writers to create clear, consistent, and scannable content. <a href="https://idbwrtng.com/acrolinx_snippet9" rel="nofollow">Learn more</a></div></div>'
var i=0
//variable used to contain controlled random number
var random
//while all of array elements haven't been cycled thru
while (i<contents.length){
//generate random num between 0 and arraylength-1
random=Math.floor(Math.random()*contents.length)
//if element hasn't been marked as "selected"
if (contents[random]!="selected"){
document.write(contents[random])
//mark element as selected
contents[random]="selected"
break;
}
}
</script>
</div>{% endif %}
