{% if site.format == "web" %}<div class="singlePostComics">
    <script>
var contents=new Array()

contents[0]='<div class="randomAd"><div class="bs-callout bs-callout-info bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Good documentation is critical if you have a complex product. Archbee makes it easy to set up API docs on your domain &mdash; no more fiddling with Git workflows, CI/CD pipelines, and integrating Algolia for user-friendly and great-looking docs! <a href="https://www.archbee.io/api-documentation-tool?utm_medium=inline-text&utm_source=api-doc-site&utm_campaign=idrbw&utm_term=gooddoc" rel="nofollow">Learn more</a>.</div></div>'
contents[1]='<div class="randomAd"><div class="bs-callout bs-callout-success bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Archbee is the knowledge base tool rebuilt for software companies. Quickly onboard developers to your API and deliver instant knowledge about your product. <a href="https://www.archbee.io/api-documentation-tool?utm_medium=inline-text&utm_source=api-doc-site&utm_campaign=idrbw&utm_term=kbtool" rel="nofollow">Explore now</a></div></div>'
contents[2]='<div class="randomAd"><div class="bs-callout bs-callout-warning bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Archbee makes it easy for technical and non-technical people to build, launch, and manage your developer portal. Write API references and guides in a single tool. <a href="https://www.archbee.io/api-documentation-tool?utm_medium=inline-text&utm_source=api-doc-site&utm_campaign=idrbw&utm_term=techppl" rel="nofollow">Explore now</a></div></div>'
contents[3]='<div class="randomAd"><div class="bs-callout bs-callout-important bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Generate API references from OpenAPI/Swagger files that are always in sync, or use the custom blocks to start building your developer portal. <a href="https://www.archbee.io/api-documentation-tool?utm_medium=inline-text&utm_source=api-doc-site&utm_campaign=idrbw&utm_term=genapi" rel="nofollow">Learn more</a></div></div>'
contents[4]='<div class="randomAd"><div class="bs-callout bs-callout-danger bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Create your API documentation with Archbee and publish it on your domain with options to restrict access like password-protected portals or JWT visitor authentication. <a href="https://www.archbee.io/api-documentation-tool?utm_medium=inline-text&utm_source=api-doc-site&utm_campaign=idrbw&utm_term=publishapi" rel="nofollow">Learn more</a></div></div>'
contents[5]='<div class="randomAd"><div class="bs-callout bs-callout-danger bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Build beautiful API portals with Archbee to quickly onboard developers to your API. Get more out of your documentation platform with effortless content editing and collaboration features. <a href="https://www.archbee.io/api-documentation-tool?utm_medium=inline-text&utm_source=api-doc-site&utm_campaign=idrbw&utm_term=apiportal" rel="nofollow">Learn more</a></div></div>'
contents[6]='<div class="randomAd"><div class="bs-callout bs-callout-danger bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Archbee is everything an API docs tool should be (and much more): say goodbye to the slow and clunky and publish multiple products without the extra cost. <a href="https://www.archbee.io/api-documentation-tool?utm_medium=inline-text&utm_source=api-doc-site&utm_campaign=idrbw&utm_term=apitool" rel="nofollow">Try Archbee now</a></div></div>'
var i=0
//variable used to contain controlled random number
var random
//while all of array elements haven't been cycled thru
while (i<contents.length){
//generate random num between 0 and arraylength-1
random=Math.floor(Math.random()*contents.length)
//if element hasn't been marked as "selected"
if (contents[random]!="selected"){
document.write(contents[random])
//mark element as selected
contents[random]="selected"
break;
}
}
</script>
</div>{% endif %}
