{% if site.format == "web" %}
<div class="singlePostComics">
    <script>
var contents=new Array()

contents[0]='<div class="randomAd"><div class="bs-callout bs-callout-info bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Architect the digital connections that propel your business forward with Stoplight.  <a href="https://idbwrtng.com/stoplightsnippet0" rel="nofollow">Get started on your API strategy today.</a>.</div></div>'

contents[1]='<div class="randomAd"><div class="bs-callout bs-callout-info bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Make API development simple and seamless. <a href="https://idbwrtng.com/stoplightsnippet1" rel="nofollow">Scale with Stoplight</a>.</div></div>'

contents[2]='<div class="randomAd"><div class="bs-callout bs-callout-info bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Modern customers demand intuitive & frictionless experiences that you can only achieve with a design-first API development program that scales with your business. Stoplight provides the tool to power this, <a href="https://idbwrtng.com/stoplightsnippet2" rel="nofollow">try it today.</a>.</div></div>'

contents[3]='<div class="randomAd"><div class="bs-callout bs-callout-info bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>If you are optimizing your technology organization for a composable business model, you need a proactive, strategic approach to API development, led by API design. <a href="https://idbwrtng.com/stoplightsnippet3" rel="nofollow">Try Stoplight for free to get started</a>.</div></div>'

contents[4]='<div class="randomAd"><div class="bs-callout bs-callout-info bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Stoplight enables developers to create high-quality, high-business-impact APIs quickly and easily. <a href="https://idbwrtng.com/stoplightsnippet4" rel="nofollow">Try for free.</a></div></div>'

contents[5]='<div class="randomAd"><div class="bs-callout bs-callout-info bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Create compelling documentation that your developers will love with Stoplight. <a href="https://idbwrtng.com/stoplightsnippet5" rel="nofollow">Try for free today.</a></div></div>'

contents[6]='<div class="randomAd"><div class="bs-callout bs-callout-info bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Drive predictable API-first development through a better developer experience, better governance, and increased usage with Stoplight. <a href="https://idbwrtng.com/stoplightsnippet6" rel="nofollow">Create a Workspace.</a></div></div>'

var i=0
//variable used to contain controlled random number
var random
//while all of array elements haven't been cycled thru
while (i<contents.length){
//generate random num between 0 and arraylength-1
random=Math.floor(Math.random()*contents.length)
//if element hasn't been marked as "selected"
if (contents[random]!="selected"){
document.write(contents[random])
//mark element as selected
contents[random]="selected"
break;
}
}
</script>
</div>{% endif %}
