{% if site.format == "web" %}<div class="singlePostComics">
    <script>
var contents=new Array()

contents[0]='<div class="randomAd"><div class="bs-callout bs-callout-info bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Document360 is rated #1 by Capterra, GetApp, and Software Advice. Create a world-class public or private knowledge base for your software. <a rel="nofollow" href="https://document360.io/?ref=idratherbewriting">Start your free trial</a>.</div></div>'
contents[1]='<div class="randomAd"><div class="bs-callout bs-callout-success bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Document360 helps you create a world-class self-service knowledge base so your customers can find solutions to their problems instantly using AI-powered search. <a  rel="nofollow" href="https://document360.io/?ref=idratherbewriting">Start your free trial</a></div></div>'
contents[2]='<div class="randomAd"><div class="bs-callout bs-callout-warning bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Document360 comes with all the features you need to build a world-class self-service online knowledge base. With the right tools in place, you just focus on creating world-class content. <a  rel="nofollow" href="https://document360.io/?ref=idratherbewriting">Start your free trial</a></div></div>'
contents[3]='<div class="randomAd"><div class="bs-callout bs-callout-important bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div> With Document360, you can have private knowledge bases for your customers in an isolated way, with the ability to bulk import users or let them self-register. <a href="https://document360.io/?ref=idratherbewriting">Start your free trial</a></div></div>'
contents[4]='<div class="randomAd"><div class="bs-callout bs-callout-danger bs-callout-ad"> <div class="sponsorMessageTitle"><i>Sponsored message:</i></div>Document360\'s SEO features will help your product\'s knowledge base rank higher in Google and other search engines. You can adjust the SEO for article titles, meta-descriptions, featured images, sitemaps, and more. <a href="https://document360.io/?ref=idratherbewriting">Start your free trial</a></div></div>'

var i=0
//variable used to contain controlled random number
var random
//while all of array elements haven't been cycled thru
while (i<contents.length){
//generate random num between 0 and arraylength-1
random=Math.floor(Math.random()*contents.length)
//if element hasn't been marked as "selected"
if (contents[random]!="selected"){
document.write(contents[random])
//mark element as selected
contents[random]="selected"
break;
}
}
</script>
</div>{% endif %}
