{% if site.format == "web" %}<!-- sidebar_ads.html -->
<div class="sidebarAds">

    <h3 name="sponsors" class="sidebar">Sponsors</h3>
    <a href="https://swaggerhub.com/?sr=irbw&md=ad&cm=sidebardocs" class="noCrossRef"><img src="{{ "/images/ads/SH-BlogAd-256x256.png" | prepend: site.baseurl }}" alt="SwaggerHub: The Platform for Designing and Documenting APIs with Swagger" style="max-width: 100%" /></a>
    <script>
        var contents=new Array()
        contents[0]='<a class="noCrossRef" href="https://www.madcapsoftware.com/conference/madworld-2018/?utm_source=IdRatherBeWriting-Homepage&utm_medium=125Banner&utm_campaign=MadWorld2018"><img src="{{ "/images/ads/MadWorld-125x125.png" | prepend: site.baseurl }}" alt="Madcap Software, MadWorld" /></a>'
        contents[1]='<a class="noCrossRef" href="http://www.adobe.com/products/technicalcommunicationsuite.html?sdid=M7K4STRS&mv=other&promoid=70114000002CZxcAAG"><img src="{{ "/images/ads/adobe_square.gif" | prepend: site.baseurl }}" alt="Adobe Framemaker" /></a>'
        contents[2]='<a class="noCrossRef" href="http://www.simplifiedenglish.net/"><img src="{{ "/images/ads/tedopres.gif" | prepend: site.baseurl }}" alt="Tedopres" /></a>'
        contents[3]='<a class="noCrossRef" href="http://www.paligo.se/"><img src="{{ "/images/ads/paligo.gif" | prepend: site.baseurl }}" alt="Paligo" /></a>'
        contents[4]='<a class="noCrossRef" href="http://www.xeditor.com/portal/en/technical-documentation-1771"><img src="{{ "/images/ads/xeditor.jpg" | prepend: site.baseurl }}" alt="Xeditor" /></a>'
        contents[5]='<a class="noCrossRef" href="http://idratherbewriting.com/advertising/"><img src="{{ "/images/ads/youradhere.png" | prepend: site.baseurl }}" alt="Advertising info" /></a>'
        contents[6]='<a class="noCrossRef" href="http://www.technicallywriteit.com"><img src="{{ "/images/ads/twi.gif" | prepend: site.baseurl }}" alt="TWi" /></a>'
        contents[7]='<a class="noCrossRef" href="http://www.drexplain.com"><img src="{{ "/images/ads/drexplain.gif" | prepend: site.baseurl }}" alt="Dr. Explain - help authoring software" /></a>'
        contents[8]='<a class="noCrossRef" href="https://easydita.com/how-can-i-reuse-content/?utm_campaign=Reuse&utm_source=iratherbewriting&utm_medium=Banner%20Ad%20125x125"><img src="{{ "/images/ads/easydita.png" | prepend: site.baseurl }}" alt="easyDITA" /></a>'

        var i=0
        //variable used to contain controlled random number
        var random
        //while all of array elements haven't been cycled thru
        while (i<contents.length){
            //generate random num between 0 and arraylength-1
            random=Math.floor(Math.random()*contents.length)
            //if element hasn't been marked as "selected"
            if (contents[random]!="selected"){
                document.write(contents[random])
                //mark element as selected
                contents[random]="selected"
                i++
            }
        }
    </script>
</div> <!-- /sidebarAds -->
<div style="clear:both;"></div>

<!-- / end sidebar_ads.html -->
{% endif %}
