{% if site.format == "web" %}<!-- sidebar_comics.html -->
<div class="sidebarComics">

    <h3 name="sponsors" class="sidebar">Sponsors</h3>
    <a href="https://swagger.io/tools/swaggerhub/?utm_medium=display&utm_source=idratherbewriting&utm_campaign=irbwsponsor" class="noCrossRef"><img src="{{ "/images/comics/SwaggerHub_GP_API_256x256.png" | prepend: site.baseurl }}" alt="SwaggerHub: The Platform for Designing and Documenting APIs with Swagger" style="max-width: 100%" /></a>
    <script>
        var contents=new Array()
        contents[0]='<a class="noCrossRef" href="https://www.adobe.com/products/framemaker/download-trial/try.html?sdid=H822XS72&mv=other&promoid=7011O0000037sV8QAI"><img src="{{ "/images/comics/fmstaticsquare.png" | prepend: site.baseurl }}" alt="Adobe Framemaker (2019 Release)" /></a>'
        contents[1]='<a class="noCrossRef" href="http://www.simplifiedenglish.net/"><img src="{{ "/images/comics/tedopres.gif" | prepend: site.baseurl }}" alt="Tedopres" /></a>'
        contents[2]='<a class="noCrossRef" href="http://www.paligo.se/"><img src="{{ "/images/comics/paligo.gif" | prepend: site.baseurl }}" alt="Paligo" /></a>'
        contents[3]='<a class="noCrossRef" href="https://idratherbewriting.com/advertising/"><img src="{{ "/images/comics/yourcomichere.png" | prepend: site.baseurl }}" alt="Advertising info" /></a>'
        contents[4]='<a class="noCrossRef" href="http://www.technicallywriteit.com"><img src="{{ "/images/comics/twi.gif" | prepend: site.baseurl }}" alt="TWi" /></a>'
        contents[5]='<a class="noCrossRef" href="http://www.drexplain.com"><img src="{{ "/images/comics/drexplain.gif" | prepend: site.baseurl }}" alt="Dr. Explain - help authoring software" /></a>'
        contents[6]='<a class="noCrossRef" href="https://easydita.com/easydita-editor/?utm_campaign=2018%20-%20Webinar%20-%20TE2&utm_source=Idratherbewriting&utm_medium=Banner%20Ad%20125x125"><img src="{{ "/images/comics/easyditacollab.png" | prepend: site.baseurl }}" alt="easyDITA" /></a>'
        contents[7]='<a class="noCrossRef" href="http://engineering.mercer.edu/ms-tcm"><img src="{{ "/images/comics/MercerEngineering19_OnlineMasterofScienceAd-3.png" | prepend: site.baseurl }}" alt="Mercer Master of Science in Technical Communication Management (Online)" /></a>'
        contents[8]='<a class="noCrossRef" href="https://www.madcapsoftware.com/madcap-central-2019/?utm_source=IdRatherBeWriting&utm_campaign=Central2019&utm_medium=Banner"><img src="{{ "/images/comics/central2.png" | prepend: site.baseurl }}" alt="Madcap Central" /></a>'
        var i=0
        //variable used to contain controlled random number
        var random
        //while all of array elements haven't been cycled thru
        while (i<contents.length){
            //generate random num between 0 and arraylength-1
            random=Math.floor(Math.random()*contents.length)
            //if element hasn't been marked as "selected"
            if (contents[random]!="selected"){
                document.write(contents[random])
                //mark element as selected
                contents[random]="selected"
                i++
            }
        }
    </script>
</div> <!-- /sidebarComics -->
<div style="clear:both;"></div>

<!-- / end sidebar_comics.html -->
{% endif %}
