{% if site.format == "web" %}<!-- sidebar_comics.html -->
<div class="sidebarComics">

    <h3 name="sponsors" class="sidebar">Sponsors</h3>
    <a href="https://swagger.io/tools/swaggerhub/?utm_medium=display&utm_source=idratherbewriting&utm_campaign=irbwsponsor" class="noCrossRef"><img src="{{ "https://idratherbewritingmedia.com/images/api/comics/SwaggerHub_GP_API_256x256.png"}}" alt="SwaggerHub: The Platform for Designing and Documenting APIs with Swagger" style="max-width: 100%" /></a>
    <script>
        var contents=new Array()
        contents[0]='<a class="noCrossRef" href="http://www.simplifiedenglish.net/"><img src="{{ "https://idratherbewritingmedia.com/images/api/comics/tedopres.gif"}}" alt="Tedopres" /></a>'
        contents[1]='<a class="noCrossRef" href="https://paligo.net/?utm_source=idratherbewriting&utm_medium=sidebar-ad&utm_campaign=general/"><img src="{{ "https://idratherbewritingmedia.com/images/api/comics/paligo.png"}}" alt="Paligo" /></a>'
        contents[2]='<a class="noCrossRef" href="https://idratherbewriting.com/advertising/"><img src="{{ "https://idratherbewritingmedia.com/images/api/comics/yourcomichere.png"}}" alt="Advertising info" /></a>'
        contents[3]='<a class="noCrossRef" href="http://www.technicallywriteit.com"><img src="{{ "https://idratherbewritingmedia.com/images/api/comics/twi.gif"}}" alt="TWi" /></a>'
        contents[4]='<a class="noCrossRef" href="http://www.drexplain.com"><img src="{{ "https://idratherbewritingmedia.com/images/api/comics/drexplain.gif"}}" alt="Dr. Explain - help authoring software" /></a>'
        contents[5]='<a class="noCrossRef" href="https://easydita.com/easydita-editor/?utm_campaign=2018%20-%20Webinar%20-%20TE2&utm_source=Idratherbewriting&utm_medium=Banner%20Ad%20125x125"><img src="{{ "https://idratherbewritingmedia.com/images/api/comics/easyditacollab.png"}}" alt="easyDITA" /></a>'
        contents[6]='<a ref="nofollow" class="noCrossRef" href="https://www.madcapsoftware.com/madcap-central-2019/#content?utm_source=idratherbewriting&utm_medium=banner&utm_campaign=CentralOct2019"><img src="{{ "https://idratherbewritingmedia.com/images/madcapcentral1019s.png" }}" alt="Madcap Central" /></a>'
        var i=0
        //variable used to contain controlled random number
        var random
        //while all of array elements haven't been cycled thru
        while (i<contents.length){
            //generate random num between 0 and arraylength-1
            random=Math.floor(Math.random()*contents.length)
            //if element hasn't been marked as "selected"
            if (contents[random]!="selected"){
                document.write(contents[random])
                //mark element as selected
                contents[random]="selected"
                i++
            }
        }
    </script>
</div> <!-- /sidebarComics -->
<div style="clear:both;"></div>

<!-- / end sidebar_comics.html -->
{% endif %}
