{% if site.format == "web" %}<!-- sidebar_comics.html -->
<div class="sidebarComics">

    <a href="https://swagger.io/tools/swaggerhub/?utm_medium=display&utm_source=idratherbewriting&utm_campaign=irbwsponsor" class="noCrossRef"><img src="{{ "https://idratherbewritingmedia.com/images/api/comics/SwaggerHub_GP_API_256x256.png"}}" alt="SwaggerHub: The Platform for Designing and Documenting APIs with Swagger" style="max-width: 100%" /></a>
    <script>
      //Tedopres
      contents[0]='<a class="noCrossRef" ref="nofollow" href="http://www.simplifiedenglish.net/"><img class="shorten" src="{{ "https://idratherbewritingmedia.com/images/comics/tedopresx2.gif" | prepend: site.baseurl }}" alt="HyperSTE checker software" /></a>'
      //Paligo
      contents[1]='<a class="noCrossRef" ref="nofollow" href="https://paligo.net/?utm_source=idratherbewriting&utm_medium=sidebar-ad&utm_campaign=general"><img src="{{ "https://idratherbewritingmedia.com/images/paligo-graphic.gif" | prepend: site.baseurl }}" alt="Paligo: Technical Documentation Software with Powerful Content Re-use" /></a>'
      //TWi
      contents[2]='<a class="noCrossRef" ref="nofollow" href="http://www.technicallywriteit.com"><img src="{{ "https://idratherbewritingmedia.com/images/twi_techcomm5.png" | prepend: site.baseurl }}" alt="TWi: Leading Provider of Documentation and Technical Communication Solutions" /></a>'
      //easyDITA
      contents[3]='<a class="noCrossRef" ref="nofollow" href="https://easydita.com/easydita-editor/?utm_campaign=2018%20-%20Webinar%20-%20TE2&utm_source=Idratherbewriting&utm_medium=Banner%20Ad%20125x125"><img class="shorten" src="{{ "https://idratherbewritingmedia.com/images/comics/easyditacollabx2.png" | prepend: site.baseurl }}" alt="easyDITA" /></a>'
      //MadCap
      contents[4]='<a class="noCrossRef" ref="nofollow" href="https://www.madcapsoftware.com/madworld-conferences/madworld-2020/#content?utm_source=idratherbewriting&utm_medium=banner&utm_campaign=mw2020austin"><img class="shorten" src="{{ "https://idratherbewritingmedia.com/images/comics/madcapcentral2020austinx2.png" | prepend: site.baseurl }}" alt="MadWorld Austin 2020 Technical Communication and Content Strategy Conference" /></a>'
      //Your ad here
      contents[5]='<a class="noCrossRef" ref="nofollow" href="https://idratherbewriting.com/advertising/"><img src="{{ "https://idratherbewritingmedia.com/images/youradheresvgx2-01.svg" | prepend: site.baseurl }}" alt="Advertising options" /></a>'
        var i=0
        //variable used to contain controlled random number
        var random
        //while all of array elements haven't been cycled thru
        while (i<contents.length){
            //generate random num between 0 and arraylength-1
            random=Math.floor(Math.random()*contents.length)
            //if element hasn't been marked as "selected"
            if (contents[random]!="selected"){
                document.write(contents[random])
                //mark element as selected
                contents[random]="selected"
                i++
            }
        }
    </script>
</div> <!-- /sidebarComics -->
<div style="clear:both;"></div>

<!-- / end sidebar_comics.html -->
{% endif %}
