{% if site.format == "web" %}<div class="singlePostAds">
    <script>
var contents=new Array()
contents[0]='<a class="noCrossRef" href="https://www.madcapsoftware.com/conference/madworld-2018/?utm_source=IdRatherBeWriting-Homepage&utm_medium=728Banner&utm_campaign=MadWorld2018"><img src="{{ "/images/ads/MadWorld-720x90.png" | prepend: site.baseurl }}" alt="Madcap Flare" /></a>'
contents[1]='<a class="noCrossRef" href="http://www.adobe.com/products/robohelp.html?sdid=J469WY4M&mv=other&promoid=70114000002CZxcAAG"><img src="{{ "/images/ads/adobe_single_post.jpg" | prepend: site.baseurl }}" alt="Adobe Robohelp" /></a>'
contents[2]='<a class="noCrossRef" href="https://swaggerhub.com/?sr=irbw&md=ad&cm=bottom"><img src="{{ "/images/ads/SH-BlogAd-728x90.png" | prepend: site.baseurl }}" alt="SwaggerHub: The Platform for Designing and Documenting APIs with Swagger" /></a>'

var i=0
//variable used to contain controlled random number
var random
//while all of array elements haven't been cycled thru
while (i<contents.length){
//generate random num between 0 and arraylength-1
random=Math.floor(Math.random()*contents.length)
//if element hasn't been marked as "selected"
if (contents[random]!="selected"){
document.write(contents[random])
//mark element as selected
contents[random]="selected"
i++
}
}
</script>
</div>
{% endif %}
