{% if site.format == "web" %}<div class="singlePostComics">
    <script>
var contents=new Array()
contents[0]='<a rel="nofollow" class="noCrossRef" href="https://idbwrtng.com/acrolinx_footer"><img style="border: 1px solid lightgray" src="https://s3.us-west-1.wasabisys.com/idbwmedia.com/images/acrolinx_long.png" rel="nofollow" alt="Acrolinx: Technical communication at a new level" /></a>'
var i=0
//variable used to contain controlled random number
var random
//while all of array elements haven't been cycled thru
while (i<contents.length){
//generate random num between 0 and arraylength-1
random=Math.floor(Math.random()*contents.length)
//if element hasn't been marked as "selected"
if (contents[random]!="selected"){
document.write(contents[random])
//mark element as selected
contents[random]="selected"
i++
}
}
</script>
</div>
{% endif %}
