<!-- social_media_icons.html -->
<div class="socialMediaButtons irbw">
  <h3 class="sidebar" style="margin-top:20px">Follow me on social media</h3>
    <a class="noCrossRef" href="https://feeds.feedburner.com/TomJohnson">
        <div class="srssfeed"></div>
    </a>
    <a class="noCrossRef" href="https://twitter.com/tomjohnson">
        <div class="stwitter"></div>
    </a>
    <a class="noCrossRef" href="https://www.stitcher.com/podcast/id-rather-be-writing-technical-writing-podcast">
        <div class="sstitcher"></div>
    </a>
    <a class="noCrossRef" href="https://itunes.apple.com/us/podcast/id-rather-be-writing-podcast/id277365275">
        <div class="situnes"></div>
    </a>

    <a class="noCrossRef" href="https://www.facebook.com/tomidbw">
    <div class="sfacebook"></div>
</a>

    <a class="noCrossRef" href="https://www.linkedin.com/in/tomjoht">
        <div class="slinkedin"></div>
    </a>

    <a class="noCrossRef" href="https://github.com/tomjoht/">
        <div class="sgithub"></div>
    </a>
</div>

<!-- end social_media_icons.html -->
