<!-- social_media_icons.html -->

    <a href="https://feeds.feedburner.com/TomJohnson">
        <div class="srssfeed"></div>
    </a>
    <a href="https://twitter.com/tomjohnson">
        <div class="stwitter"></div>
    </a>

    <a href="https://itunes.apple.com/us/podcast/id-rather-be-writing-podcast/id277365275">
        <div class="situnes"></div>
    </a>

    <a href="https://www.linkedin.com/in/tomjoht">
        <div class="slinkedin"></div>
    </a>

    <a href="https://github.com/tomjoht/">
        <div class="sgithub"></div>
    </a>

<div style="clear:both"></div>

<!-- end social_media_icons.html -->