{% if site.format == "web" %}<!-- tinyletter.html -->
<h3 id="newsletter" class="sidebar">I'd Rather Be Writing Newsletter</h3>
<p>Get new posts delivered straight to your inbox.</p>
<div class="form-group">
    <form style="text-align: center; background-color: whitesmoke; border:1px solid #ccc;padding:3px;text-align:center" action="https://tinyletter.com/tomjoht" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/tomjoht', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <p><label for="tlemail">Enter your email address</label></p>
        <p><input type="text" style="width:140px" name="email" id="tlemail" /></p>
        <input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" class="btn btn-warning"></input>
        <p><small>Subscriber count: 4,285</small></p>
    </form>
</div> <!-- end form-group-->
<!-- end tinyletter.html -->{% endif %}
