{% if site.format == "web" %}<!-- tinyletter.html -->
<style>
.irbw.form-group {
  width: 265px !important;
}
form.irbw {
  padding: 10px !important;
  border-radius: 5px;
}
.mailingListSubtext {
    text-align: left;
    margin-bottom: 7px;
    font-size: 12px;
    margin-left: 10px;
}

label.irbw {
    text-align: left;
}
input#tlemail {
    font-size: 12px;
}

.form-group.irbw {
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: aliceblue;
}

.newsletterSubscribeHeading {
    color: #444;
    font-weight: bold;
    padding-top: 10px;
    margin-left: 8px;
    font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
    font-size: 125%;
    margin-bottom: 15px;
}

</style>
<div class="form-group irbw">
    <form style="text-align: left; border-radius: 4px; background-color: transparent; border:1px solid #ccc;padding:8px;text-align:left; padding-bottom: 15px;" action="https://tinyletter.com/tomjoht" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/tomjoht', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        {% comment %}<i class="fa fa-envelope-o fa-2x" aria-hidden="true" style="float:left;"></i>{% endcomment %}
        <div class="newsletterSubscribeHeading">Stay updated</div>
        <div class="mailingListSubtext">Keep current with the latest trends in technical communication by subscribing to the I'd Rather Be Writing newsletter. <i><b>5,400+ subscribers</b></i></div>
        <p style="max-width: 85%"><input type="text" style="width:100%; display: block; margin-left: 5px;" placeholder=" email address" name="email" id="tlemail" /></p>
        <div class="submitButton"><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe to my newsletter" style="text-align: center; border-radius: 4px; margin-left: 5px;" class="btn btn-warning"></input></div>
    </form>
</div> <!-- end form-group-->

<!-- end tinyletter.html -->{% endif %}
