{% comment %}{% if site.format == "web" %}<a class="noCrossRef" href="https://www.adobe.com/products/xml-documentation-for-experience-manager.html?sdid=QYL4P2WQ&mv=other&promoid=7011O000002bOnQQAU"><img src="{{ "/images/ads/Q218_XML_Banner_Launch_XML_400x60.jpg" | prepend: site.baseurl }}" alt="Adobe Experience Manager webinar" /></a>
{% endif %}{% endcomment %}
{% if site.format == "web" %}<a class="noCrossRef" href="https://www.adobetechcomm.com/customer-experience-survey-2018/"><img src="{{ "/images/ads/Q318_Cutomer_experience_Survey_Idrather be writing_400x60_Website.jpg" | prepend: site.baseurl }}" alt="Adobe Survey" /></a>
{% endif %}
