{% if site.format == "web" %}
{% comment %}<a class="noCrossRef" href="https://www.adobe.com/products/xml-documentation-for-experience-manager.html?sdid=QYL4P2WQ&mv=other&promoid=7011O000002bOnQQAU"><img src="{{ "/images/ads/Q218_XML_Banner_Launch_XML_400x60.jpg" | prepend: site.baseurl }}" alt="Adobe Experience Manager webinar" /></a>{% endcomment %}
<a class="noCrossRef" href="https://www.adobe.com/products/technicalcommunicationsuite/download-trial/try.html?sdid=HCS3XNH1&mv=other&promoid=7011O0000037sV8QAI"><img src="{{ "/images/ads/adobe400x60.gif" | prepend: site.baseurl }}" alt="Adobe Tech Comm Suite" /></a>
{% endif %}
