{% comment %}{% if site.format == "web" %}
{% comment %}<a rel="nofollow" class="noCrossRef" href="https://www.adobe.com/products/xml-documentation-for-experience-manager.html?sdid=QYL4P2WQ&mv=other&promoid=7011O000002bOnQQAU"><img src="{{ "/images/comics/Q218_XML_Banner_Launch_XML_400x60.jpg" | prepend: site.baseurl }}" alt="Adobe Experience Manager webinar" /></a>{% endcomment %}
<a rel="nofollow" class="noCrossRef" href="https://2018-adobe-dita-world.meetus.adobeevents.com/?sdid=GVTYY5GP&mv=other&promoid=7011O0000037pHQQAY"><img src="{{ "/images/comics/adobe_dita_world.jpg" | prepend: site.baseurl }}" alt="Adobe DITA World 2018" /></a>
{% endif %}{% endcomment %}
