/* callout styles*/

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}

.alert code {
  background: transparent;
}

blockquote {
    background-color: #eef7fa;
    font-family: arial;
    font-size: .9em;
    margin: 0px;
    padding: 1em;
}

p.note {
    background: #f1f1f1;
    padding: 1em;
    border-left: 1em solid orange;
}

p.tip {
    background: #f1f1f1;
    padding: 1em;
    border-left: 1em solid deepskyblue;
}

p.warning {
    background: #f1f1f1;
    padding: 1em;
    border-left: 1em solid red;
}

p.note::before {
    content: "Note: ";
    font-weight: bold;
}

p.tip::before {
    content: "Tip: ";
    font-weight: bold;
}

p.warning::before {
    content: "Warning: ";
    font-weight: bold;
}
/* end callout styles*/
