/* heading styles */

/*make room for the nav bar */

h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id],
dt[id] {
  padding-top:80px;
  margin-top:-60px;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 25px;
}

h3 {
  margin-bottom: 20px;
}

h2 {
  color: #444;
}
h3 {
  color: #777;
}
.subtitle {
  font-size: 16px;
  color: gray;
  margin-top: 50px;
  padding-bottom: 15px;
}
h1 {
  margin-top: 0px;
}

.h2, h2 {
  font-size: 24px;
}
.h3, h3 {
  font-size: 18px;
}
.h4, h4 {
  font-size: 16px;
}