.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #111111;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ee7600;
}
.navbar-default .navbar-text {
  color: #111111;
}
.navbar-default .navbar-nav > li > a {
  color: #111111;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ee7600;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #111111;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ee7600;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ee7600;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ee7600;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ee7600;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #111111;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #111111;
}
.navbar-default .navbar-link {
  color: #111111;
}
.navbar-default .navbar-link:hover {
  color: #ee7600;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #111111;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ee7600;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ee7600;
    background-color: #ffffff;
  }
}

//custom tom

ul.navbar-nav a:hover {
  text-decoration: underline;
}

img.navbar-logo {

}
.navbar-brand {
  margin-right: 30px;
  padding-left:0px;
  padding-top: 15px;
  padding-right: 15px;
}
.navbar {
  border-bottom: 1px solid #dedede;
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

@media (min-width: 768px) {
  .navbar-nav > li {
    padding-top: 10px;
  }
}

.navbar-default .navbar-nav>li>a {
  font-size: 16px;
  font-family: Arial;
}

.sidebarToggle.fa.fa-columns.fa-2x {
}

ul.nav.navbar-nav li a {
  white-space: nowrap;
  margin-right: 7px;
}


.navbar-brand {
  margin-right: 0px;
}

.topComic {
    margin-top: 5px;
    margin-botom: 3px;
}
div#bs-example-navbar-collapse-1 img {
  margin-left: 50px;
  margin-bottom: 20px;
}

ul.nav.navbar-nav.navbar-right {
    margin-top: 10px !important;
}

@media (min-width: 768px){
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    height: 80px;
  }
}
/* autogenerated from https://work.smarchal.com/twbscolor/ */
