/*nav tabs */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #248ec2;
  color: white;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs>li>a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #555;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified>li {
  float: none;
}
.nav-tabs.nav-justified>li>a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-tabs.nav-justified>.dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%
  }
  .nav-tabs.nav-justified>li>a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified>li>a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified>.active>a,
  .nav-tabs.nav-justified>.active>a:hover,
  .nav-tabs.nav-justified>.active>a:focus {
    border-bottom-color: #fff;
  }
}
@media (min-width: 768px) {
  .nav-justified>li {
    display: table-cell;
    width: 1%
  }
  .nav-justified>li>a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified>li>a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified>.active>a,
.nav-tabs-justified>.active>a:hover,
.nav-tabs-justified>.active>a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified>li>a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified>.active>a,
  .nav-tabs-justified>.active>a:hover,
  .nav-tabs-justified>.active>a:focus {
    border-bottom-color: #fff;
  }
}
.tab-content>.tab-pane {
  display: none;
}
.tab-content>.active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  background-color: #EEEEEE;
}
.nav-tabs>li>a[data-toggle="tab"] {
  border-radius: 4px 4px 0 0;
  background-color: white;
  border: 1px solid #dedede;
  border-bottom: none;
}
li a[data-toggle="tab"] {
  margin-bottom: -15px;
}
a[data-toggle="tab"]:hover {
  color: black;
}
.tab-content {
  margin-left: 0px;
}
.nav-tabs li {
  padding-right: 5px;
  padding-left: 5px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #fa9500;
  color: white;
}
ul#profileTabs {
  margin-left: 0px;
  padding-bottom: 7px;
}
.subheading {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 16px;
  margin-top: 30px;
}

.tab-content .tab-pane.active {
  padding: 15px;
  border: 1px solid #dedede;
}