 /* Style Definitions */

p
{
	margin-top: 1em;
	text-indent: 0em
}

li {
  margin-bottom: .5em;
}

.pagebreak
{
	page-break-before: always;
}

.centered
{
	text-align: center;
}

.bottom
{
	vertical-align: text-bottom;
}

.tablehead
{
	text-align: center;
	font-weight: bold
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  text-align: left !important;
}

h1.kindle {
  text-align: left !important;
}

.level1 { margin-left: 1em}
.level1items { margin-left: 2em}

div#bookToc ul#docnavsidebar li.level1items a, li.level2items a, li.level3items a{
    /* font-size: 1em; */
}

inspector-stylesheet:1
div#bookToc ul#docnavsidebar > li {
    list-style-type: none;
}

div#bookToc li.level1 a, div#bookToc li.level2 a, div#bookToc li.level3 a {
/* font-size: 1.2em; */
}

blockquote {
    background-color: #eef7fa;
    font-family: arial;
    font-size: .9em;
    margin: 0px;
    padding: 1em;
}


p.note {
    background: #f1f1f1;
    padding: 1em 1em 1em 1em;
    border-left: 1em solid deepskyblue;
}

p.tip {
  background: #f1f1f1;
  padding: 1em 1em 1em 1em;
  border-left: 1em solid #00b200;
}

p.warning {
  background: #f1f1f1;
  padding: 1em 1em 1em 1em;
  border-left: 1em solid #b20000;
}

p.note::before {
    content: "Note: ";
    font-weight: bold;
}

p.tip::before {
    content: "Tip: ";
    font-weight: bold;
}

p.warning::before {
    content: "Warning: ";
    font-weight: bold;
}

ul#docnavsidebar li.level1items, ul#docnavsidebar  li.level2items {
    list-style-type: square;
    margin-left: 2em;
}

ul#docnavsidebar li.level1, ul#docnavsidebar li.level2 {
    list-style: none;
    /* font-size: 1.2em; */
    margin-left: 1em;
}

.docSample {
    padding: 1em;
    background-color: #e6f3f7;
		margin: 1em 0em;
}

blockquote {
	padding: 1em;
	background-color: #e6f3f7;
	margin: 1em 0em;
}

/* toc page */
ul#docnavsidebar li.level1 a {
    font-size: 1.2em;
    text-decoration: none;
    color: #444444;
    }

li.level1items {
    margin-top: 12px;
}

ul#docnavsidebar li.level1items a {
	font-size: 18px;
	text-decoration: none;
	color: #666666;
}

/* mini-toc pages */
ul li.level1 a {
    color: #666666;
    text-decoration: none;
}

/* just for the TOC start page */

.tocstart li.sectionHead {
    list-style-type: none;
     font-size: 1.2em;

}

.tocstart ul#docnavsidebar {
    padding: 10px;
}

/* end*/

dt {
    font-weight: bold;
    margin-top: 20px;
}
/* callouts */


/* callout styles*/

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.calloutTitle {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default .calloutTitle {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary .calloutTitle {
  color: #428bca;;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success .calloutTitle {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger .calloutTitle {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning .calloutTitle {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info .calloutTitle {
  color: #5bc0de;
}

.activitySection img {
    display: inline;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.activitySection {
   text-transform: uppercase;
   font-size: 1.3em;
   font-weight: bold;
}

dd {
    margin-top: 8px;
}

dd ~dd {
    margin-top: 8px;
}

ul#markdown-toc {
  display: none;
}


a[href^="http://"],
a[href^="https://"] {
  text-decoration:underline;
  border-bottom: 1px solid #000;
}

/* Strip the outbound icon when this class is present */

a[href].noExtIcon::after,
a.no_icon:after
 {
  text-decoration: none;
  border-bottom: 0px;
}

figcaption {
  font-style: italic;
  font-size: 12px;
}

li, li a, ul li, ul li ul li {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

ul#docnavsidebar li.level2items {
    font-size: 15px;
    margin-top: 10px;
		color: #666;
}
