
/*body.print .container {width: 650px;}*/

body {
    font-size:12px;
}

/*table .table {width:650px;}*/
table, th, td  {border: 1px solid #dedede;}
th, td {
    padding: 15px;
    text-align: left;
}

table {
  margin: 20px 0px;
}
tr:nth-child(even) {background-color: #f2f2f2}
th  {background-color: #595959}
th  {color: white}

#navig a[href] {color: #595959 !important;}
#navig li.sectionHead {font-weight: bold; font-size: 18px; color: #595959 !important; list-style-type: none; margin-top: 18px; }
#navig li {font-weight: normal;  list-style-type: none; font-size: 12px; margin-bottom: 7px; margin-top: 7px; }
#navig a[href]::after { content: leader(".") target-counter(attr(href), page); }
#navig li.l1 {
  font-size: 19px;
}

#navig li.l2 {
  font-size: 16px;
}

#navig li.l3 {
  font-size: 14px;
}

#navig ul.l1 {
  margin-left:0px;
}

#navig ul.l2 {
  margin-left:20px;
}

#navig ul.l3 {
  margin-left:40px;
}

/* cross-references to pages */
a[href]::after {
    content: " (p. " target-counter(attr(href), page) ")"
}

a[href^="http:"]::after, a[href^="https:"]::after {
    content: " (" attr(href) ") ";
}

/* cut this i think
chapter {
prince-pdf-destination: attr(identifier,string)
} */
/* print href link urls after links
a::after{
    content: " (" attr(href) ") ";
  }
*/



a[href] {
    color: #337CD6 !important;
    text-decoration: none;
}
a[href*="mailto"]::after, a[data-toggle="tooltip"]::after, a[href].noCrossRef::after {
    content: "";
}


.printTitle {
    line-height:30pt;
    font-size:24pt;
    font-weight: bold;
    letter-spacing: -.5px;
    margin-bottom:25px;
}

.printSubtitle {
    font-size: 18pt;
    color: #cccccc !important;
    font-family: sans-serif;
    line-height: 22pt;
    letter-spacing: -.5px;
    margin-bottom: 10px;;
}
.printSubparagraph {
    font-size: 14pt;
    font-family: sans-serif;
    margin-top: 30px;
}
.printAttribution {
    font-size: 12pt;
    font-family: sans-serif;
    margin-bottom: 20px;
    color: #444;
    font-style: italic;
    margin-bottom: 25px;
}
.printTitleArea hr {
    color: #999999 !important;
    height: 2px;
    width: 100%;
}


.printTitleImage {
    margin-bottom: 100px;
}

.lastGeneratedDate {
    font-style: italic;
    font-size:14px;
    color: gray;
}

.alert a {
    text-decoration: none !important;
}

body.first {counter-reset: page 1}

@page {
    margin: 60pt 90pt 60pt 90pt;
    font-family: sans-serif;
    font-style:none;
    color: gray;
}

body.title { page: title }
@page title {
    @top-left {
        content: " ";
    }
    @top-right {
        content: " "
    }
    @bottom-right {
        content: " ";
    }
    @bottom-left {
        content: " ";
    }
}

body.frontmatter { page: frontmatter }
@page frontmatter {
    @top-left {
        content: " ";
    }
    @top-right {
        content: prince-script(datestamp);
    }
    @bottom-right {
        content: counter(page, lower-roman);
    }
    @bottom-left {
        content: prince-script(guideName);
        font-size: 11px;
    }
}


h1 { string-set: doctitle content() }

@page {

    @top-left {
        content: string(doctitle);
        font-size: 11px;
        font-style: italic;
    }
    @top-right {
        content: prince-script(datestamp);
        font-size: 11px;
    }

    @bottom-right {
        content: "Page " counter(page);
        font-size: 11px;
    }
    @bottom-left {
        content: prince-script(guideName);
        font-size: 11px;
    }
}

.alert {
    background-color: #fafafa !important;
    border-color: #dedede !important;
    color: black;
}

pre {
    background-color: #fafafa;
}

ul#markdown-toc {
  display: none;
}

h1 {font-size: 32px;}
h2 {font-size: 18px; color: #444444;}
h3 {font-size: 14px; color: #DD7A01; font-weight: normal;}
h4 {font-size: 12px; color: #808080; font-weight: normal;}



a[data-toggle="tooltip"], a[data-toggle="popover"] {
    color: black;
    cursor: default;
}

.printTitle {
    color: #444444 !important;
}


img.docimage {
  margin-bottom: 20px;
}

dt {
  font-weight: bold;

}

dl dd {
    margin-top: 20px;
    margin-bottom: 20px;
}

dd pre {
    margin-top: 12px;
    margin-bottom: 12px;
}

dd {
  margin-left: 30px;
}


/* callout styles*/

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.calloutTitle {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default .calloutTitle {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary .calloutTitle {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success .calloutTitle {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger .calloutTitle {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning .calloutTitle {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info .calloutTitle {
  color: #5bc0de;
}

/* alerts */

.alert {
  padding: 11.25px 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid #f7f7f7;
  border-radius: 3px;
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image:      -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
  background-image:         linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  background-repeat: repeat-x;
  border-color: #b2dba1;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image:      -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));
  background-image:         linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #9acfea;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image:      -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
  background-image:         linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #f5e79e;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image:      -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
  background-image:         linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}

/* overwrite random styles in message.scss for alerts*/
.alert.alert-warning {
  padding-left: 15px !important;
  border-color: #f5e79e !important;
}

.number_legend {
  margin: 20px 0px;
}

.legend {
  margin: 10px 0px;
}

pre, .highlight {
  font-size: 12px;
}

.activitySection img {
    display: inline;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.activitySection {
   text-transform: uppercase;
   font-size: 1.3em;
   font-weight: bold;
}

dd {
    margin-top: 8px;
}

dd ~dd {
    margin-top: 8px;
}


/* workflow maps */

.box {
    padding: 10px;
    border: 1px solid #888;
    /* box-shadow prop is unsupported by prince
    box-shadow: 2px 2px 4px #dedede; */
    width: 100px;
    height: 90px;
    background-color: #f5f5f5;
    font-size: 12px;
    hyphens: auto;
    float: left;
    font-size: 12px;
}

.box:hover {
    background-color: #f0f0f0;
}

.userMap {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 20px;
    min-width: 550px;
    margin-bottom: 30px;
}

div.box {
    line-height: 17px;
}

.userMap .active {
    background-color: #d6f5d6;
    border:1px solid #555;
    color: black;
    cursor: default;
}

h2.userMapTitle {
    font-family: "Amazon Ember Regular", Roboto, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.userMap a:hover {
    text-decoration: none;
  }

div.arrow {
    width: 50px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
}

div.content {
    width: 110px
}

.userMap div.arrow, .userMap div.content {
    float: left;
}


.userMap div.arrow {
    position: relative;
    top: 30px;
}

button.btn.btn-default.btn-lg.modalButton1 {
    margin-left: -20px;
}

.userMap .btn-lg {
    width: 100px;
    height: 80px;

}

.userMap .complexArrow {
    font-size: 22px;
    margin: 0px 10px;
}


.userMap .btn-lg .active {
    background-color: #d6f5d6;
}

.userMap .btn-lg  {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        font-size: 14px;
    }

blockquote {
  font-size: 14px;
  background: #f1f1f1;
  padding: 1em;
  border-left: 1em solid orange;
  overflow: auto;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.muted {
  color: gray;
}

figure, img {
  margin-top: 20px;
  margin-bottom: 20px;
}

figcaption {
    font-size: 12px;
    color: gray;
    font-style: italic;
}

img.large {
  width: 700px
}

img.medium {
  width: 600px
}

img.small_medium {
  width: 450px;
}

img.small {
  width: 300px;
}

img.tiny {
  width: 200px;
}

ol ul {
  margin-bottom: 10px;
}

li ul li, li ol li {
    list-style-type: disc;
    margin-left: -15px;
}
