openapi: 3.0.0
info:
  title: Weather API from Mashape
  description: This is a sample API that uses a Mashape Weather API as an example to demonstrate features in the swagger-2.0 specification. The Weather API displays forecast data by latitude and longitude. Get raw weather data or simple label description of weather forecast of some places.
  version: 2.0.0
servers:
- url: https://simple-weather.p.mashape.com
  variables: {}
paths:
  /aqi:
    get:
      tags:
      - Air Quality
      summary: getAqi
      description: Gets the air quality index
      operationId: GetAqi
      parameters:
      - name: lat
        in: query
        description: latitude
        style: matrix
        explode: false
        schema:
          type: string
      - name: lng
        in: query
        description: longitude
        style: matrix
        explode: false
        schema:
          type: string
      responses:
        200:
          description: aqi response
          content:
            text/plain:
              schema:
                type: null
                description: aqi response
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /weather:
    get:
      tags:
      - Weather Forecast
      summary: getWeather
      description: Gets the weather forecast in abbreviated form
      operationId: GetWeather
      parameters:
      - name: lat
        in: query
        description: latitude
        style: matrix
        explode: false
        schema:
          type: string
      - name: lng
        in: query
        description: longitude
        style: matrix
        explode: false
        schema:
          type: string
      responses:
        200:
          description: weather response
          content:
            text/plain:
              schema:
                type: null
                description: weather response
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /weatherdata:
    get:
      tags:
      - Weather Forecast
      summary: getWeatherData
      description: Get weather forecast with lots of details
      operationId: GetWeatherData
      parameters:
      - name: lat
        in: query
        description: latitude
        style: matrix
        explode: false
        schema:
          type: string
      - name: lng
        in: query
        description: longitude
        style: matrix
        explode: false
        schema:
          type: string
      responses:
        200:
          description: weatherdata response
          content:
            text/plain:
              schema:
                type: null
                description: weatherdata response
      deprecated: false
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
components:
  securitySchemes:
    Mashape-Key:
      type: apiKey
      description: ''
      name: X-Mashape-Key
      in: header
security:
- Mashape-Key: []
