{% unless site.format == "pdf" %}<div class="userMap">

<div class="content"><a href="{{ "/pubapis_openapi_step1_openapi_object.html" | prepend: site.baseurl }}"><div class="box box1"><span class="stepName">STEP 1:</span><br/>openapi object</div></a></div>
<div class="arrow">→</div>

<div class="content"><a href="{{ "/pubapis_openapi_step2_info_object.html" | prepend: site.baseurl }}"><div class="box box2"><span class="stepName">STEP 2:</span><br/>info object</div></a></div>
<div class="arrow">→</div>

<div class="content"><a href="{{ "/pubapis_openapi_step3_servers_object.html" | prepend: site.baseurl }}"><div class="box box3"><span class="stepName">STEP 3:</span><br/>servers object</div></a></div>
<div class="arrow">→</div>

<div class="content"><a href="{{ "/pubapis_openapi_step4_paths_object.html" | prepend: site.baseurl }}"><div class="box box4"><span class="stepName">STEP 4:</span> <br/>paths object</div></a></div>
<div class="arrow">→</div>

<div class="content"><a href="{{ "/pubapis_openapi_step5_components_object.html" | prepend: site.baseurl }}"><div class="box box5"><span class="stepName">STEP 5:</span><br/>components object</div></a></div>
<div class="arrow">→</div>

<div class="content"><a href="{{ "/pubapis_openapi_step6_security_object.html" | prepend: site.baseurl }}"><div class="box box6"><span class="stepName">STEP 6:</span><br/>security object</div></a></div>
<div class="arrow">→</div>

<div class="content"><a href="{{ "/pubapis_openapi_step7_tags_object.html" | prepend: site.baseurl }}"><div class="box box7"><span class="stepName">STEP 7:</span><br/>tags object</div></a></div>
<div class="arrow">→</div>

<div class="content"><a href="{{ "/pubapis_openapi_step8_externaldocs_object.html" | prepend: site.baseurl }}"><div class="box box8"><span class="stepName">STEP 8:</span><br/>externalDocs object</div></a></div>
</div>{% endunless %}
