{% unless site.format == "pdf" %}<div class="userMap">

<div class="content"><a href="{{ "/docapis_resource_descriptions.html" | prepend: site.baseurl }}"><div class="box box1"><span class="stepName">STEP 1:</span><br/>Resource description</div></a></div>
<div class="arrow">→</div>

<div class="content"><a href="{{ "/docapis_resource_endpoints.html" | prepend: site.baseurl }}"><div class="box box2"><span class="stepName">STEP 2:</span><br/>Endpoints and methods</div></a></div>
<div class="arrow">→</div>

<div class="content"><a href="{{ "/docapis_doc_parameters.html" | prepend: site.baseurl }}"><div class="box box3"><span class="stepName">STEP 3:</span> <br/>Parameters</div></a></div>
<div class="arrow">→</div>

<div class="content"><a href="{{ "/docapis_doc_sample_requests.html" | prepend: site.baseurl }}"><div class="box box4"><span class="stepName">STEP 4:</span><br/>Request example</div></a></div>
<div class="arrow">→</div>

<div class="content"><a href="{{ "/docapis_doc_sample_responses_and_schema.html" | prepend: site.baseurl }}"><div class="box box5"><span class="stepName">STEP 5:</span><br/>Response example and schema</div></a></div>

</div>{% endunless %}
