{% include topnav.html %}

<div class="container">
        <div class="row row-offcanvas row-offcanvas-left">

            <!-- sidebar -->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

            {% include sidebar.html %}
            {% include sidebar_ads.html %}

            </div>

            <!-- main area -->
            <div class="col-xs-12 col-sm-9 main">
{% include breadcrumb.html %}


                    <h1>{{page.title}}</h1>
                    <div class="donateButton">
                    {% include donate_button.html %}
                    </div>

                    {{content}}

                    {% include next.html %}

                  {% include single_post_ads.html %}



                    <div style="max-width: 375px">{% include tinyletter.html %}</div>
                    {% include disqus.html %}


            </div>
        </div><!--/.container-->


    </div><!--/.page-container-->
    {% include footer.html %}
    <!--scripts loaded here-->



</body>

</html>
