{% include topnav.html %}

<div class="container">
        <div class="row row-offcanvas row-offcanvas-left">

            <!-- sidebar -->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

            {% include sidebar.html %}
            {% include sidebar_comics.html %}
            {% include social_media_icons.html %}

            </div>

            <!-- main area -->
            <div class="col-xs-12 col-sm-9 main">
              {% include search_results.html %}
              <div id="content">
                {% include breadcrumb.html %}

                <h1>{{page.title}}</h1>

{% unless page.last-modified == null %}
<div class="lastModifiedDate">
Last updated: {{page.last-modified | date: "%b %d, %Y" }} <a class="noCrossRef" style="color: black" href="{{page.path | prepend: "https://github.com/tomjoht/learnapidoc/blob/main/"}}"><i class="fa fa-github fa-lg"></i></a>

</div>
{% endunless %}

                <div class="amazonBook">
                </div>
{% comment %}<p class="workshop surveyBanner" style="width: 66%"> I'm giving an <a href="https://idratherbewriting.com/blog/upcoming-api-documentation-workshop-los-angeles-jan-23/">API documentation workshop in Los Angeles, California</a>, on January 23, 2020. You can <a href="https://www.eventbrite.com/e/api-documentation-workshop-los-angeles-jan-23-2020-tickets-84487066089">view details on EventBrite here.</a>
<br/><br/><b>
<p class="surveyBanner" style="font-size: 98%; line-height: 18px"><b>I need your input &mdash;</b> I'm conducting a survey about trends in developer documentation for 2020. If you write docs for developers, please <a href='https://www.questionpro.com/t/AOaGwZgCFE'>take this survey.</a> (You can view the ongoing results viewed <a href="https://www.questionpro.com/t/PGhS9ZgCFE">here.</a>)
</p>
{% endcomment %}

{% if page.versions %}{% include versions.html %}{% endif %}
{% if page.github_url %} {% include github_button.html %}  {% endif %}
{% if page.map %}{% assign mapStep = page.map.step %}{% assign mapDefinition = page.map.definition %}{% include workflow_map.html step=mapStep map=mapDefinition %}{% endif %}

                {{content}}

                <div class="donateButton">
                {% include coffee_button.html %}
                </div>
                {% include tinyletter2.html %}

                {% unless page.type == 404 %}

                {% include progress.html %}
                {% include next.html %}

                {% include single_post_comics.html %}

                {% include commento.html %}
                {% endunless %}

              </div>



            </div>
        </div><!--/.container-->


    </div><!--/.page-container-->
    {% include footer.html %}
    <!--scripts loaded here-->

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0"></script>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
  $('[data-toggle="popover"]').popover();
});
</script>

</body>

</html>
