{% include topnav.html %}


<div class="container">
        <div class="row row-offcanvas row-offcanvas-left">

            <!-- sidebar -->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

            {% include sidebar.html %}
            {% include sidebar_ads.html %}

            </div>

            <!-- main area -->
            <div class="col-xs-12 col-sm-9 main">

                    <div class="subtitle">
                      {% unless page.type == "search" or page.type == "homepage" %}
                        <a href="http://idratherbewriting.com" class="noCrossRef productSubtitle"> Home </a> > <a class="noCrossRef productSubtitle" href="{{site.url}}">Learn API Doc</a> > {{page.path | remove: "_docs/" | split: "/" | first }}
                          {% endunless %}
                      {% if page.type == "homepage" %}
                      <a href="http://idratherbewriting.com" class="noCrossRef productSubtitle"> Home </a> > <a class="noCrossRef productSubtitle" href="{{site.url}}">Learn API Doc</a> > {{page.path}}

                      {% endif %}

                      </div>

                    <h1>{{page.title}}</h1>


                    {{content}}

                    {% include next.html %}

                  {% include single_post_ads.html %}



                    <div style="max-width: 375px">{% include tinyletter.html %}</div>
                    {% include disqus.html %}


            </div>
        </div><!--/.container-->


    </div><!--/.page-container-->
    {% include footer.html %}
    <!--scripts loaded here-->



</body>

</html>
